@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Open Sans', sans-serif;
}

 header{
background-color: #bdc3c7;
}
.container{
    padding: 60px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo h1{
    font-size: 85px;
    font-weight: bold;
}
.btn-primary{
    color: red;
}
.manu ul{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    list-style: none;
}
.manu ul li{
    margin-right: 25px;
    font-size: 35px;
    font-weight: bold;
    
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px;
    
}
.banner-details{
text-align: center;
}
.title{
    font-size:60px;
  
}
.description{
    font-size: 18px;
    padding: 30px;
}
.primary{
    font-size: 20px;
    color: aliceblue;
    background-color: red;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
   
}
.banner-image{
   

}